
body {
  font-family: 'Playfair Display', Georgia, serif;
  display: grid;
  text-align: center;
  grid-template-areas:
    "title"
    "image"
    "info"
    "weather";
  background-color: rgb(240 240 240);
  overflow: scroll;
}

h1, p, button {
  all: unset;
}

#title {
  grid-area: title;
  border: 1px solid rgb(21 21 21);
  padding: 8px 16px;
  width: fit-content;
  display: flex;
  justify-self: center;
  margin: 24px;
  font-size: 24px;
}

#lake {
  grid-area: image;
  width: 100%;
  object-fit: cover;
}

#info {
  grid-area: info;
  max-width: 100%;
  background-color: rgb(61, 95, 214);
  color: rgb(240 240 240);
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 16px 0;
}

#weather {
  grid-area: weather;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  align-items: center;
  padding: 16px 0;
}

/* Landscape, small screen */
@media (orientation: landscape) and (max-width: 1000px) {  body {
    grid-template-areas:
      "title title"
      "image info"
      "weather weather";
  }

  #lake {
    height: 100%;
  }
  #info {
    padding: 0 16px;
  }
}

/* Large screen */
@media (min-width: 1000px) {
  #lake {
    max-height: 50vh;
  }
}